<a href="https://colab.research.google.com/github/luisadosch/Final-Project-snapAddy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Loading & Inspection

In [90]:
import json
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [39]:
DATA_DIR = Path("/content/sample_data")

annotated_path = DATA_DIR / "linkedin-cvs-annotated.json"
not_annotated_path = DATA_DIR / "linkedin-cvs-not-annotated.json"
department_path = DATA_DIR / "department-v2.csv"
seniority_path = DATA_DIR / "seniority-v2.csv"

In [40]:
with open(annotated_path, "r", encoding="utf-8") as f:
    cvs_annotated = json.load(f)

with open(not_annotated_path, "r", encoding="utf-8") as f:
    cvs_not_annotated = json.load(f)

department_df = pd.read_csv(department_path)
seniority_df = pd.read_csv(seniority_path)

### Label Datasets (department labels & seniority labels)

we load the department and seniority files into dataframes

In [41]:
department_df.info()
department_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10145 entries, 0 to 10144
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    10145 non-null  object
 1   label   10145 non-null  object
dtypes: object(2)
memory usage: 158.6+ KB

(10145, 2)

-> the file with the department labels has 10.145 rows and 2 columns

In [42]:
seniority_df.info()
seniority_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9428 entries, 0 to 9427
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    9428 non-null   object
 1   label   9428 non-null   object
dtypes: object(2)
memory usage: 147.4+ KB

(9428, 2)

-> the file with the seniority labels has 9.428 rows and 2 columns

In [43]:
department_df.nunique()

text     10145
label       11
dtype: int64

In [44]:
department_df['label'].value_counts()

label
Marketing                 4295
Sales                     3328
Information Technology    1305
Business Development       620
Project Management         201
Consulting                 167
Administrative              83
Other                       42
Purchasing                  40
Customer Support            33
Human Resources             31
Name: count, dtype: int64

there are 11 distinct department labels. among them, Marketing is the most common and Human Resources the least

In [45]:
seniority_df.nunique()

text     9428
label       5
dtype: int64

In [46]:
seniority_df['label'].value_counts()

label
Senior        3733
Lead          3546
Director       984
Management     756
Junior         409
Name: count, dtype: int64

there are 5 distinct seniority level labels. among them, Senior is the most common and Junior the least

In [47]:
print("\nDepartment labels:")
display(department_df.head())

print("\nSeniority labels:")
display(seniority_df.head())

Department labels:

                                               text               label
0                   Adjoint directeur communication           Marketing
1                     Advisor Strategy and Projects  Project Management
2                               Beratung & Projekte  Project Management
3                      Beratung & Projektmanagement  Project Management
4  Beratung und Projektmanagement kommunale Partner  Project Management

Seniority labels:

                                text   label
0                            Analyst  Junior
1                 Analyste financier  Junior
2  Anwendungstechnischer Mitarbeiter  Junior
3               Application Engineer  Senior
4              Applications Engineer  Senior

### CV Datasets (annotated & not annotated)

In [73]:
type(cvs_annotated)

list

In [56]:
type(cvs_not_annotated)

list

both files are of type list

In [57]:
type(cvs_annotated[0])

list

In [67]:
print(cvs_annotated[0])

[{'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'Prokurist', 'startDate': '2019-08', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Management'}, {'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'CFO', 'startDate': '2019-07', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Management'}, {'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'Betriebswirtin', 'startDate': '2019-07', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Professional'}, {'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'Prokuristin', 'startDate': '2019-07', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Management'}, {'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'CFO', 'startDate': '2019-07', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Management'}, {'organization': 'Nagel Car Group', 'linkedin': '', 'position': 'Buchhalterin', 'startDate': '2000-05', 'endDate': '2019-06', 'status': 'INACTIVE', 'department': 'Other', 'seniority': 'Professional'}]

In [58]:
type(cvs_not_annotated[0])

list

In [68]:
print(cvs_not_annotated[0])

[{'organization': 'Keeping The Books, Bookkeeping', 'linkedin': '', 'position': 'Bookkeeper', 'startDate': '2023-03', 'endDate': None, 'status': 'ACTIVE'}, {'organization': 'Playful Paws', 'linkedin': '', 'position': 'Co-Owner', 'startDate': '2018-11', 'endDate': None, 'status': 'ACTIVE'}, {'organization': 'S&R services', 'linkedin': '', 'position': 'Logistics Officer', 'startDate': '2019-09', 'endDate': '2024-04', 'status': 'INACTIVE'}, {'organization': 'ABC Supply Co. Inc.', 'linkedin': 'https://www.linkedin.com/company/abc-supply', 'position': 'Truck driver/ laborer', 'startDate': '2019-03', 'endDate': '2019-09', 'status': 'INACTIVE'}, {'organization': 'MB Railways', 'linkedin': '', 'position': 'Fuel Driver', 'startDate': '2018-03', 'endDate': '2019-03', 'status': 'INACTIVE'}, {'organization': 'Sysco', 'linkedin': 'https://www.linkedin.com/company/sysco', 'position': 'Food Delivery Driver', 'startDate': '2017-10', 'endDate': '2018-02', 'status': 'INACTIVE'}, {'organization': 'UPS Freight', 'linkedin': 'https://www.linkedin.com/company/ups-freight', 'position': 'Regional driver', 'startDate': '2016-10', 'endDate': '2017-03', 'status': 'INACTIVE'}, {'organization': "Domino's Pizza", 'linkedin': '', 'position': 'delivery/sales/MIT', 'startDate': '2012-04', 'endDate': '2012-06', 'status': 'INACTIVE'}]

looking at the first element of both files shows us that elements are of type list -> files have a nested structure

In [59]:
type(cvs_annotated[0][0])

dict

In [65]:
print(cvs_annotated[0][0])

{'organization': 'Depot4Design GmbH', 'linkedin': 'https://www.linkedin.com/company/depot4design-gmbh', 'position': 'Prokurist', 'startDate': '2019-08', 'endDate': None, 'status': 'ACTIVE', 'department': 'Other', 'seniority': 'Management'}

In [60]:
type(cvs_not_annotated[0][0])

dict

In [66]:
print(cvs_not_annotated[0][0])

{'organization': 'Keeping The Books, Bookkeeping', 'linkedin': '', 'position': 'Bookkeeper', 'startDate': '2023-03', 'endDate': None, 'status': 'ACTIVE'}

-> the inner list of both files contains dictionaries

In [62]:
unique_types_level_1 = {type(cv) for cv in cvs_annotated}
unique_types_level_2 = {type(job) for cv in cvs_annotated for job in cv}
unique_types_level_3 = {
    type(v)
    for cv in cvs_annotated
    for job in cv
    for v in job.values()
}

unique_types_level_1, unique_types_level_2, unique_types_level_3

({list}, {dict}, {NoneType, str})

In [63]:
unique_types_level_1_not = {type(cv) for cv in cvs_not_annotated}
unique_types_level_2_not = {type(job) for cv in cvs_not_annotated for job in cv}
unique_types_level_3_not = {
    type(v)
    for cv in cvs_not_annotated
    for job in cv
    for v in job.values()
}

unique_types_level_1_not, unique_types_level_2_not, unique_types_level_3_not

({list}, {dict}, {NoneType, str})

the inspection reveals a three-level hierarchical structure. the dataset is a list of CVs, each CV is a list of job entries, and each job entry is a dictionary whith values. since no job field contains nested lists or dictionaries, the hierarchy ends at the job level

In [48]:
print("Number of annotated CVs:", len(cvs_annotated))
print("Number of non-annotated CVs:", len(cvs_not_annotated))

Number of annotated CVs: 609
Number of non-annotated CVs: 390

In [49]:
print("\nType of one CV object (annotated):", type(cvs_annotated[0]))
print("\nType of one CV object (not annotated):", type(cvs_not_annotated[0]))

Type of one CV object (annotated): <class 'list'>

Type of one CV object (not annotated): <class 'list'>

-> 609 CVs with labels + 390 CVs without labels & both files are a list of lists, where one CV = list

In [75]:
sum(len(cv) for cv in cvs_annotated)

2638

In [76]:
sum(len(cv) for cv in cvs_not_annotated)

1886

-> we have 2.637 job titles in the annotated data and 1.886 job titles in the not annotated data

### Turning the hierarchical CV data into a job-level DataFrame

because ML models require tabular inputs, we need to transform our hierarchical CV data into a job-level table, where each row represents one job entry

In [77]:
# Collect all unique key sets from annotated jobs
annotated_job_key_sets = {
    tuple(sorted(job.keys()))
    for cv in cvs_annotated
    for job in cv
}

len(annotated_job_key_sets), annotated_job_key_sets

(1,
 {('department',
   'endDate',
   'linkedin',
   'organization',
   'position',
   'seniority',
   'startDate',
   'status')})

In [78]:
not_annotated_job_key_sets = {
    tuple(sorted(job.keys()))
    for cv in cvs_not_annotated
    for job in cv
}

len(not_annotated_job_key_sets), not_annotated_job_key_sets

(1,
 {('endDate', 'linkedin', 'organization', 'position', 'startDate', 'status')})

for that we create the following dataframe schema where each column corresponds to a field (key) from the job dictionary:

- **organization** : name of the employer for a given job
- **position** : job title text
- **startDate** : start date of the job
- **endDate** : end date of the job
- **status** : indicates the status of a job
- **department (annotated dataset only)** : department label for a job
- **seniority (annotated dataset only)** : seniority level for a job

In [80]:
unique_linkedin_values = {
    job.get("linkedin")
    for cv in cvs_annotated
    for job in cv
}

list(unique_linkedin_values)[:10]

['',
 'https://www.linkedin.com/company/attention-group-a-s',
 'https://www.linkedin.com/company/bonprix',
 'https://www.linkedin.com/company/university-of-tuebingen',
 'https://www.linkedin.com/company/bachmann-group',
 'https://www.linkedin.com/company/bogner-construction-company',
 'https://www.linkedin.com/company/wells-capital-management',
 'https://www.linkedin.com/company/claas',
 'https://www.linkedin.com/company/sandiegouniontribune',
 'https://www.linkedin.com/company/succesvol-tot-en-met-pensioen']

we removed the linkedin field, because, as can be seen, it only contains a URL to a linkedin pages. we remove it, because this does not contribute meaningful predictive signal for our project and would introduce noise and leakage risk into our pipeline

because we want to perserve the hierarchy information (CV identity and job order), we explicitly add these columns to our dataframe schema:

- **cv_id** : this links each job back to a CV (unique identifier for each CV)
- **job_index** : this preserves the job order within a CV (position of a job within a CVs job list)

this is necessary because job entries are not independent observations: they belong to the same individual and form a temporal sequence

#### Job-level DataFrame for annotated CVs

the variables *cv_id* and *job_index* are derived from the positional indices of CVs and jobs within the nested list structure using enumerate

all remaining columns are obtained by directly reading the corresponding fields from each job dictionary using key access

In [81]:
annotated_rows = []

for cv_id, cv in enumerate(cvs_annotated):
    for job_index, job in enumerate(cv):
        annotated_rows.append({
            "cv_id": cv_id,
            "job_index": job_index,
            "organization": job.get("organization"),
            "position": job.get("position"),
            "startDate": job.get("startDate"),
            "endDate": job.get("endDate"),
            "status": job.get("status"),
            "department": job.get("department"),
            "seniority": job.get("seniority"),
        })

jobs_annotated_df = pd.DataFrame(annotated_rows)

In [84]:
jobs_annotated_df.head(10)

,cv_id,job_index,organization,position,startDate,endDate,status,department,seniority
0,0,0,Depot4Design GmbH,Prokurist,2019-08,None,ACTIVE,Other,Management
1,0,1,Depot4Design GmbH,CFO,2019-07,None,ACTIVE,Other,Management
2,0,2,Depot4Design GmbH,Betriebswirtin,2019-07,None,ACTIVE,Other,Professional
3,0,3,Depot4Design GmbH,Prokuristin,2019-07,None,ACTIVE,Other,Management
4,0,4,Depot4Design GmbH,CFO,2019-07,None,ACTIVE,Other,Management
5,0,5,Nagel Car Group,Buchhalterin,2000-05,2019-06,INACTIVE,Other,Professional
6,1,0,Computer Solutions,Solutions Architect,2024-03,None,ACTIVE,Information Technology,Professional
7,1,1,Computer Solutions,Senior Network Engineer,2019-07,2024-03,INACTIVE,Information Technology,Senior
8,1,2,Texas A&M University-Corpus Christi,Manager of Network Services,2017-02,2019-07,INACTIVE,Information Technology,Professional
9,1,3,Texas A&M University-Corpus Christi,Infrastructure Administrator II,2015-06,2017-02,INACTIVE,Information Technology,Professional

-> results show that job entries within each CV are ordered in reverse chronological order, with job_index = 0 corresponding to the most recent position and increasing indices representing older roles

#### Job-level DataFrame for non-annotated CVs

we set department and seniority as None here

In [85]:
not_annotated_rows = []

for cv_id, cv in enumerate(cvs_not_annotated):
    for job_index, job in enumerate(cv):
        not_annotated_rows.append({
            "cv_id": cv_id,
            "job_index": job_index,
            "organization": job.get("organization"),
            "position": job.get("position"),
            "startDate": job.get("startDate"),
            "endDate": job.get("endDate"),
            "status": job.get("status"),
            "department": None,
            "seniority": None,
        })

jobs_not_annotated_df = pd.DataFrame(not_annotated_rows)

In [86]:
jobs_not_annotated_df.head(10)

,cv_id,job_index,organization,position,startDate,endDate,status,department,seniority
0,0,0,"Keeping The Books, Bookkeeping",Bookkeeper,2023-03,None,ACTIVE,None,None
1,0,1,Playful Paws,Co-Owner,2018-11,None,ACTIVE,None,None
2,0,2,S&R services,Logistics Officer,2019-09,2024-04,INACTIVE,None,None
3,0,3,ABC Supply Co. Inc.,Truck driver/ laborer,2019-03,2019-09,INACTIVE,None,None
4,0,4,MB Railways,Fuel Driver,2018-03,2019-03,INACTIVE,None,None
5,0,5,Sysco,Food Delivery Driver,2017-10,2018-02,INACTIVE,None,None
6,0,6,UPS Freight,Regional driver,2016-10,2017-03,INACTIVE,None,None
7,0,7,Domino's Pizza,delivery/sales/MIT,2012-04,2012-06,INACTIVE,None,None
8,1,0,Erste Bank und Sparkasse,Strategy & Investments,2025-03,None,ACTIVE,None,None
9,1,1,DO & CO AG,International Event Operations Manager,2022-11,2024-05,INACTIVE,None,None

# 2. Exploratory Data Analysis

In [92]:
eda_df = jobs_annotated_df.copy()

print("Total annotated jobs:", len(eda_df))

Total annotated jobs: 2638

### Class distribution: Department

How imbalanced are the department labels?

This directly affects:
- baseline difficulty
- evaluation metrics
- model choice

In [88]:
dept_counts = eda_df["department"].value_counts()
dept_counts

department
Other                     1252
Information Technology     312
Sales                      219
Consulting                 195
Project Management         175
Marketing                  133
Administrative              84
Business Development        78
Purchasing                  72
Human Resources             70
Customer Support            48
Name: count, dtype: int64

In [89]:
dept_percent = dept_counts / dept_counts.sum() * 100
dept_percent.round(2)

department
Other                     47.46
Information Technology    11.83
Sales                      8.30
Consulting                 7.39
Project Management         6.63
Marketing                  5.04
Administrative             3.18
Business Development       2.96
Purchasing                 2.73
Human Resources            2.65
Customer Support           1.82
Name: count, dtype: float64

the department labels are highly imbalanced. nearly half of all job entries (47%) are labeled as *Other*, while several departments such as *Customer Support*, *Human Resources*, and *Purchasing* account for less than 3% each.

*Other* being almost half the dataset implies that many job titles are not mapped cleanly to predefined departments, keyword lists can therefore over-predict *Other*.
furthermore, rare classes such as *Customer Support* lack sufficient keyword coverage compared to others such as *Information Technology* whereby accuracy can vary strongly by class

this imbalance indicates that department prediction will be a challenging task, particularly for the rule-based approach and motivates the use of context-aware models and careful evaluation metrics beyond simple accuracy further down the line

**justification for extensions**

the observed dominance of the Other department and the strong class imbalance indicate that current job titles alone often lack sufficient information for reliable classification. Therefore, extensions that incorporate career history and temporal assumptions are well-motivated. In particular, leveraging previous job titles and seniority progression over time can provide additional contextual signals that help disambiguate generic roles and improve predictive performance.


**Extension 1**: including previous job titles (possible because CVs contain multiple jobs, Job order is preserved)
-> reduces Other overprediction, improves rare department recall, adds semantic context


**Extension 2**: Department consistency assumption (assumption that people usually stay in the same department across roles -> can be later tested empirically through % of CVs with department changes)
-> smooths noisy predictions, helps when current title is vague

### Class distribution: Seniority

How imbalanced are the seniority levels?

In [93]:
sen_counts = eda_df["seniority"].value_counts()
sen_counts

seniority
Professional    1219
Lead             460
Management       418
Junior           230
Senior           170
Director         141
Name: count, dtype: int64

In [94]:
sen_percent = sen_counts / sen_counts.sum() * 100
sen_percent.round(2)

seniority
Professional    46.21
Lead            17.44
Management      15.85
Junior           8.72
Senior           6.44
Director         5.34
Name: count, dtype: float64