In [2]:
import pandas as pd

In [4]:
test_data = pd.read_csv("../../data/processed/jobs_annotated.csv")

In [5]:
test_data.head()

,cv_id,job_index,organization,position,startDate,endDate,status,department,seniority
0,0,0,Depot4Design GmbH,Prokurist,2019-08,NaN,ACTIVE,Other,Management
1,0,1,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management
2,0,2,Depot4Design GmbH,Betriebswirtin,2019-07,NaN,ACTIVE,Other,Professional
3,0,3,Depot4Design GmbH,Prokuristin,2019-07,NaN,ACTIVE,Other,Management
4,0,4,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management

In [6]:
# show unique values of department column
test_data["department"].unique()

array(['Other', 'Information Technology', 'Customer Support',
       'Consulting', 'Project Management', 'Sales',
       'Business Development', 'Administrative', 'Marketing',
       'Human Resources', 'Purchasing'], dtype=object)

In [7]:
department_data = pd.read_csv("../../data/raw/department-v2.csv")

In [8]:
department_data

                                                   text               label
0                       Adjoint directeur communication           Marketing
1                         Advisor Strategy and Projects  Project Management
2                                   Beratung & Projekte  Project Management
3                          Beratung & Projektmanagement  Project Management
4      Beratung und Projektmanagement kommunale Partner  Project Management
...                                                 ...                 ...
10140                                  VP Sales D.A.CH.               Sales
10141                                     VP Sales DACH               Sales
10142                   VP Sales Development & Strategy               Sales
10143                                  VP Sales Germany               Sales
10144                                VP Sales Processes               Sales

[10145 rows x 2 columns]

In [11]:
# show hoe many unique values are in the label column
department_data["label"].nunique()
# print all unique values in the label column
department_data["label"].unique()

# for each unique value in the label column, count how many times it appears
department_data["label"].value_counts()

label
Marketing                 4295
Sales                     3328
Information Technology    1305
Business Development       620
Project Management         201
Consulting                 167
Administrative              83
Other                       42
Purchasing                  40
Customer Support            33
Human Resources             31
Name: count, dtype: int64

In [12]:
# for each unique value in the label column, show me one example text
for label in department_data["label"].unique():
    example = department_data[department_data["label"] == label]["text"].iloc[0]
    print(f"Label: {label}\nExample: {example}\n")

Label: Marketing
Example: Adjoint directeur communication

Label: Project Management
Example: Advisor Strategy and Projects

Label: Administrative
Example: Assistent

Label: Business Development
Example: Accelerating Business Innovation & Efficiency

Label: Consulting
Example: Berater

Label: Human Resources
Example: Abteilung HR

Label: Information Technology
Example: 3rd Level IT Engineer

Label: Other
Example: Connected Operations for Industry

Label: Purchasing
Example: Arbeitsvorbereitung / Technischer Einkauf

Label: Sales
Example: ? B2B | B2C - Unlocking potential - Hospitality software solutions/development/outsourcing/product development ?- Business development | Sales | forecasting | planning ?

Label: Customer Support
Example: 1st Line Support

In [15]:
# only get the examples of jobs annotated where status = ACTIVE
active_jobs = test_data[test_data["status"] == "ACTIVE"]

active_jobs
# save to jobs_annotated_active.csv

active_jobs.to_csv("../../data/processed/jobs_annotated_active.csv", index=False)